# Local terraform state and binary directories
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local environment variable files
.env
.envrc